In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

# ***Task -- Importing the required libraries***

In [ ]:
import pandas as pd
import numpy as np

# ***(TASK-1)  Creating a PANDAS DataFrame with NUMPY values***

In [ ]:
df = pd.DataFrame([['RAMESH','YASH','ANUJA','RAMYA',np.nan],['Apple','Mango','Banana','Orange','Grapes'],[5,4,3,2,1],[ 9087654390 , 9087654321 , 9123456780 , 8123456799 , 8169256789 ]])

# ***(TASK-2)  Renaming the dataFrame as 'df' and Assigning Random values :***

In [ ]:
df.columns = ['Random Value 1','Random Value 2','Random Value 3','Random Value 4','Random Value 5']  # Assigning the Random value 1 = Order 1 and similarly others......
df.index = ['Name','Fruit','Quantity(kg.)','Phone no.']
# df.iloc[::-1]

In [ ]:
df

,Random Value 1,Random Value 2,Random Value 3,Random Value 4,Random Value 5
Name,RAMESH,YASH,ANUJA,RAMYA,NaN
Fruit,Apple,Mango,Banana,Orange,Grapes
Quantity(kg.),5,4,3,2,1
Phone no.,9087654390,9087654321,9123456780,8123456799,8169256789

# ***(TASK-3) Finding Descriptive Statistics :***

In [ ]:
df.shape

(4, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Name to Phone no.
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      object
 1   Random Value 2  4 non-null      object
 2   Random Value 3  4 non-null      object
 3   Random Value 4  4 non-null      object
 4   Random Value 5  3 non-null      object
dtypes: object(5)
memory usage: 192.0+ bytes

In [ ]:
df.describe()

,Random Value 1,Random Value 2,Random Value 3,Random Value 4,Random Value 5
count,4,4,4,4,3
unique,4,4,4,4,3
top,RAMESH,YASH,ANUJA,RAMYA,Grapes
freq,1,1,1,1,1

In [ ]:
df.head(2)

,Random Value 1,Random Value 2,Random Value 3,Random Value 4,Random Value 5
Name,RAMESH,YASH,ANUJA,RAMYA,NaN
Fruit,Apple,Mango,Banana,Orange,Grapes

In [ ]:
df.tail(3)

,Random Value 1,Random Value 2,Random Value 3,Random Value 4,Random Value 5
Fruit,Apple,Mango,Banana,Orange,Grapes
Quantity(kg.),5,4,3,2,1
Phone no.,9087654390,9087654321,9123456780,8123456799,8169256789

# ***(TASK-4)  Finding Null Values and Finding the datatype of the columns:***

In [ ]:
df.isna()  # df.isnull() does the same thing

,Random Value 1,Random Value 2,Random Value 3,Random Value 4,Random Value 5
Name,False,False,False,False,True
Fruit,False,False,False,False,False
Quantity(kg.),False,False,False,False,False
Phone no.,False,False,False,False,False

In [ ]:
df.dtypes

Random Value 1    object
Random Value 2    object
Random Value 3    object
Random Value 4    object
Random Value 5    object
dtype: object

# ***(TASK-5)   Display random value 2 and random value 3 with location methods :***

In [ ]:
df['Random Value 3']

Name                  ANUJA
Fruit                Banana
Quantity(kg.)             3
Phone no.        9123456780
Name: Random Value 3, dtype: object

In [ ]:
df.loc[:, ['Random Value 2', 'Random Value 3']]

              Random Value 2 Random Value 3
Name                    YASH          ANUJA
Fruit                  Mango         Banana
Quantity(kg.)              4              3
Phone no.         9087654321     9123456780

# **-----------------**
#**--- THE END ---**
#**-----------------**

# -By  **YASH AKOLU**